<header>
<span class="logo">ZenduForms</span>
<nav>
    <ul class="nav__links">
        <li><a href="#"><i class="fa-solid fa-align-justify"></i>Forms</a></li>
        <li><a href="#"><i class="fa-solid fa-person"></i>Customers</a></li>
        <li class="selected"><a href="#"><i class="fa-solid fa-wave-square"></i>Submissions</a></li>
        <li><a href="#"><i class="fa-solid fa-clock-rotate-left"></i>History</a></li>
        <li><a href="#"><i class="fa-solid fa-chart-simple"></i>Reports</a></li>
        <li><a href="#"><i class="fa-solid fa-chart-simple"></i>Workflow</a></li>

    </ul>
</nav>
<ul class="side-icons">
    <li><a class="cta" href="#"><i class="fa-solid fa-bell"></i></a></li>
    <li><a class="cta" href="#"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
</ul>
</header>